<!-- Loop over each object in the posts array -->
<div class="row card-container">

  {{#each posts as |post| }}


  <div class="card blue lighten-4 card-panel">
    <div class="card-content">

      <h4>{{post.text}}</h4>

      {{#if post.hasImage}}
      <img src={{post.imageLink}} class="responsive-img" alt="">
      {{/if}}

    </div>

    <div class="card-action">
      <p>Posted by {{post.user.name}} on {{format_date post.createdAt}}</p>
    </div>

  </div>

  {{/each}}
</div>