nav ul a {
    color: black;
    font-weight: bold;
}

.sidenav .btn {
    margin-left: 32px;
}

.row:after {
    padding: 20px;
}

.space {
    margin-bottom: 20px;
}

.nav-wrapper {
    padding-left: 10px;
    padding-right: 10px;
    background-image: url('../images/roses.jpg');
    background-size: cover;
    height: 250px!;
}

.wrap {
    position: relative;
}

.wrap:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-image: url('../images/scrapbook.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}

.content {
    position: relative;
}